@import"../css/reset" ;
//@import"../../node_modules/slick-carousel/slick/slick";
*{
    box-sizing: border-box;
}
$dark-grey: #4A4A4A;
$text-color: rgb(255, 255, 255);
$background: rgb(255, 255, 255);
$soft-gray:  #949494;
$head-name: rgb(51, 175, 197);
$head-name-2: rgb(43, 160, 180);
$info-back:#26a7be;
$info-back-2:#236d7a;
body{
    background-color: #181818;
    color: $soft-gray;
    font-family:  Roboto Condenced, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.maks{
    display: block;
    font-family: Amatic SC;
    text-align: center;
    width: 100vw;
    color: $soft-gray;
    font-size: 23px;
    margin: 20px 0  30px 0;
 }
a{
    text-decoration: none;
}
.header{
    display: flex;
    align-content: center;
    width: 100vw;
    height: 100vh;
    &__nav{
        position: fixed;
        top:1%;
        right: 10%;
        z-index: 5;
        width: 30%;
        animation-name: FLOW-TO;
        animation-duration: 0.8s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            a{
                padding: 5px;
                cursor: pointer;
                background-color: #111111e3;
                border-radius: 8px;
                margin: 3%;
                li{
                    color: $info-back;
                    cursor: pointer;
                }
            }
        }
    }
    &-image{
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: 0;
        filter: brightness(0.6);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
        position: fixed; 
    }
    &-inner{
        position: relative;
        margin: auto;
        width: 100%;
        z-index: 1;
        max-width: 1230px;
        padding: 15px;
    }
    &__name{
        font-size: 15em;
        color: $head-name;
        text-shadow: 4px 4px 0 #000000, 8px 8px 0 #000000;
        line-height: 250px;
        font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-bottom: 50px;
        animation-name: FLOW-TO;
        animation-duration: 0.8s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }
    &__info{
        z-index: 3;
        position: fixed;
        right: 2%;
        top: 5%;
        transition: all 0.6s;
        width: 188px;
        height: 188px;
        background-color: $info-back;
        border-radius: 50%;
        border: 3px solid rgb(20, 20, 20);
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;

        &:hover{
            transform: scale(1.2)
        }
        animation-name: FLOW-FROM;
        animation-duration: 0.8s;
        animation-delay: 0s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
    }
    &__title{
        color: #000000;
        font-weight: 700;
        text-align: center;
        padding: 10px;
    }
    .phone, .mail{
        font-size: 22px;
        color: #000000;
    }
    .special__offer{
        width: 280px;
        height: 10px;
        display: flex;
        justify-content: space-around;
    }
    .special__offer--img{
        
        transition: all 0.5s;
        transform: rotate(-20deg);
        width: 120px;
        height: auto;
        margin: auto;
        &:hover{
            transform: scale(1.2)
        }
    }


}
.phone, .mail{
    color: $dark-grey;
    display: block;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    width: 100%;
    text-align: center;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main{
    background-color: rgba(15, 15, 15,0.7); 
    border-radius: 40px; 
    position: relative; 
    z-index: 1;
    max-width: 1200px;
    padding: 15px;
    margin: auto;
    width: 98%;
    &__title{
        text-shadow: 0px 1px 1px #0000008a;
        font-weight:700;
        font-size: 50px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        color: $head-name-2;
    }
    &__text{
        font-size: 25px;
        width: 70%;
        margin: auto;
    }
    &__separator{
        margin: 50px 0 100px;
        width: 100%;
        height: 45px;
        display: flex;
        justify-content: space-around;;
        border-bottom: 2px solid rgba(46, 46, 46, 0.856);
        img{
            height: 90px;
        }
    }
    .form-title{
        font-size: 25px;
        margin: 10px;
    }
    &__form{
        &-input{
            border-radius: 5px 0 0 5px;
            border: none!important;
            padding: 10px;
            background-color: #f5f5f5;
            &:focus{
                border: none;
            }
            &:active{
                border: none;
            }
        }

        &-btn{
            background-color: #236d7a;
            color:#f5f5f5;
            border: none;
            padding: 10px;
            border-radius: 0 5px 5px 0;

        }
        width: 30%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }
    iframe{
        border-radius: 40px;
        margin: 10px 20%;
        margin-bottom: 50px;
    }
}
.store{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 100%;
    &__title{
        width: 100%;
        text-shadow: 0px 1px 1px #0000008a;
        font-weight:700;
        font-size: 50px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 100px;
        color: $head-name-2;
    }
    &__item{
        min-width: 300px;
        width: 28%;
        img{
            transition: all 1s;
            width: 100%;
            margin:auto;
            &:hover{
                transform: scale(1.5);
            }
        }
    }
    text-align: center;
    &__name{
        font-size: 25px;
        font-weight: 700;
        padding: 10px;
    }
    &__info{
        padding: 0 20px;
    }
    &__price{
        padding: 20px 10px;
        font-weight: 700;
        font-size: 25px;
        color: $head-name-2;
    }
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__title{
        width: 100%;
        text-shadow: 0px 1px 1px #0000008a;
        font-weight:700;
        font-size: 50px;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 20px;
        color: $head-name-2;
    } 
    &__text{
        font-size: 25px;
        text-align: center;
        width: 100%;
        margin-bottom: 50px;
    }
    .popup-gallery{
        margin-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        a{
            transition: all 0.5s;
            width: 25%;
            min-width: 200px;
            padding: 10px;
            margin: 20px ;
            padding: 0;
            &:hover{
                transform: scale(1.3);
            }
            img{
                border-radius: 5px;
                display: block;
                margin: auto;
            }
        }
    }
    &__catalog{
        width: 100%;
        margin-top: 100px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 50px;

    }
}
.a-inner{
    width: 50%;
    text-align: center;
    margin: auto;
    transition: all 0.5s;
    display: block;
    background-color: $head-name-2;
    cursor: pointer;
    padding: 20px 50px;
    font-size: 40px;
    font-family: Roboto;
    font-weight: 700;
    color: rgb(20, 20, 20);
   
    border: 3px solid rgb(20, 20, 20);
    border-radius: 50px;
    &:hover{
        transform: scale(1.2);
    }
}
.footer{
    position: relative;
    z-index: 1;
    .phone, .mail{
        color: $info-back;
        line-height: 1.4;
    }

}


@keyframes FLOW-FROM{
    0%{ opacity: 0;
        transform: translateX(200%);}
    100%{
        transform: translateX(0%);
        opacity: 1;
}
}
@keyframes FLOW-TO{
    0%{ opacity: 0.5;
        transform: translateY(-200%);}
    100%{
        transform: translateY(0%);
        opacity: 1;}
}

@media (max-width:1340px){
    .a-inner{
        font-size: 35px;
    }
    .header__name{
        margin-left: 5%;
        font-size: 180px;
    }
}
@media (max-width:1300px){
    .a-inner{
        font-size: 28px;
    }
    .header__name{
        margin-left: 4%;
        font-size: 180px;
    }
}
@media (max-width:1100px){
    .a-inner{
        font-size: 28px;
    }
    .header__name{
        margin-left: 4%;
        font-size: 150px;
        line-height: 150px;
    }
}
@media (max-width:900px){
    .header__name{
        margin-left: 4%;
        font-size: 130px;
        line-height: 130px;
    }
}
@media (max-width:750px){
    .a-inner{
        width: 80%;
        font-size: 20px;
    }
    .main{
        &__text{
            font-size: 20px;
            width: 80%;
        }
        &__separator{
            margin: 30px 0 60px 0;
        }
        &__title{
            margin: 30px 0;
            font-size: 30px;
        }
    }
    .gallery{
        &__text{
            font-size: 20px;
        }
        &__title{
            margin: 30px 0;
            font-size: 30px;
        }
    }
    .store{
        &__text{
            font-size: 20px;
        }
        &__title{
            margin: 30px 0;
            font-size: 30px;
        }
    }
    .header__name{
        margin-left: 4%;
        font-size: 100px;
        line-height: 100px;
    }
}
@media (max-width:530px){
    .header{
        &__info{
            right: 2%;
            top: 3%;
            width: 118px;
            height: 118px;
        }
        &__title{
            font-weight: 400;
            font-size: 10px;
        }
        .phone, .mail{
            font-size: 12px;
            line-height: 12px;
        }
        .special__offer--img{
            width:80px;
        }
    }
    .a-inner{
        font-size: 18px;
        padding: 20px 20px;
    }
    .header__name{
        margin-left: 1%;
        font-size: 70px;
        line-height: 70px;
    }
}
@media (max-width:370px){
    .header__name{
        margin-left: 1%;
        font-size: 60px;
        line-height: 70px;
    }
}